.recipes-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recipe-card {
  text-align: left;
  background: #fff;
  /* border-radius: 5px; */
  width: 255px;
  height: 301px;
  padding: 0 15px;
}

.recipe-card img {
  width: 100%;
  height: 191px;
  border-radius: 5px;
}

.recipe-card h3 {
  margin-top: 10px;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.recipe-h1 {
  padding: 16px 0 !important;
  font-size: 36px !important;
  font-family: "Playfair Display", serif !important;
}
.recipes {
  padding: 48px 0;
}
.recipes-button {
  padding: 48px 0;
  display: flex;
  justify-content: center;
}
.btn-recipes {
    padding: 8px 48px;
    border: 1px solid black;
    border-radius: 4px;
    font-family: Popins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    background-color: #fff;
}
